* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.section {
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 26, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    height: 500px;
    width: 35%;
    box-shadow: 0px 0px 5px white;
    border-radius: 8px;
    background-color: rgb(57, 51, 66);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.input {
    width: 95%;
    display: flex;
    gap: 8px;
    margin: 0px auto;
}

button {
    border: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    height: 46px;
    padding: 5px 8px;
}

.add-btn {
    background-color: green;
    width: 100px;
}

.edit-btn {
    background-color: blue;
}

.delete-btn {
    background-color: red;
}

input {
    height: 20px;
    width: 90%;
    padding: 12px 15px;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.display {
    width: 90%;
    border: 2px solid white;
    height: 90%;
    margin: 0px auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.task {
    /* max-width: 420px; */
    /* max-height: 50px; */
    background-color: white;
    padding: 3px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.task>h2 {
    width: 70%;
    flex: 1;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1.6rem;
    margin-left: 5px;
}