* {
  margin: 0px;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(231, 229, 229);
}

.logo {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.navbar {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.1s linear 0s;
  padding: 10px;
}

.navbar:hover {
  transform: scale(1.005);
  border: none;
  box-shadow: 0px 3px 1px black;
}

.list {
  list-style: none;
  display: flex;
  gap: 30px;
  /* color: white; */
  align-items: center;
  margin-right: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 10px auto;
  width: 40%;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.name,
.age {
  text-align: center;
}